/* :root {
	--header: 3rem;
	--footer: 40px;
	--main: calc(100vh - calc(var(--header) + var(--footer)));
} */


.content {
    display: flex;
}
.card-container {
    position: relative;
    width: 60vw;
    min-width: 350px;
    min-height: 100vh;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/e965ad139417717.623b8c55e8f4f.jpg");
    background-size: cover;
}

.card-body {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 15rem;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;
}
.right-container {
    display: flex;
    flex-shrink: none;
    justify-content: center;
    flex-direction: column;
    background-color: azure;
    max-width: 50vw;
    min-width: 30vw;
    /* height: var(--main); */
}
#header {
	margin-bottom: 30px;
}

form {
    background-color: bisque;
}

#name, #email-number, #password{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

/* #footer {
    height: var(--footer);
} */